/*=================================================================================
                             1024
  ================================================================================*/
@media (max-width: 1024px) {
}

/*=================================================================================
                                 991
      ================================================================================*/

@media (max-width: 991px) {
}

/*=================================================================================
                                 769
      ================================================================================*/
@media (max-width: 769px) {
  .container {
    flex-direction: column;
  }
  .leftSection,
  .rightSection {
    width: 100%;
  }
  .searchBar input {
    width: 60%;
  }
}
/*=================================================================================
                                 425
      ================================================================================*/
@media (max-width: 426px) {
  .card {
    flex: 1;
    padding: 20px;
  }
  .card h1,
  p {
    font-size: 25px;
  }
  .rightSection h1 {
    font-size: 2rem;
  }
}
